:root {
  --minScreen:1000px;
}


#projectViewer {
  /* background-color: blueviolet; */
  z-index: -2;
  display: flex;
  flex-direction: row;
  color:white;
  align-items: center;
  justify-content: space-between;
  margin-left:0.1vw;
  /* margin-top: 70px; */
  margin-bottom: 200px;
  scroll-snap-align: center;
}

.project-images{
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  filter: brightness(100%);
  height:28vw;
  border-radius: 5px;
  transition: all 0.3s;
}

.project-images.images-active{
  -webkit-animation: 0.5s ease-in-out 0s normal forwards 1 project-image;
  animation: 0.5s ease-in-out 0s normal forwards 1 project-image;
  animation-delay: 1.5s;
}

@keyframes project-image {
  0% {opacity: 0; height:28vw;}
  40% {opacity: 0.6; height:30.1vw;}
  75% {opacity: 0.8; height:29.8vw;}
  100% {opacity: 1 ; height:30vw;}
}

#descriptionContainer{
  width: 30vw;
  text-align: left;
  padding-left: 50px;
}

.project-title{
  left:0vw;
  opacity: 0.0;
  position: relative;
  z-index: 1;
  font-size: 2.7vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

.project-title.title-active{
  -webkit-animation: 0.7s ease-in-out 0s normal forwards 1 project-title;
  animation: 0.7s ease-in-out 0s normal forwards 1 project-title;
  /* animation-delay: 0.1s; */
}

@keyframes project-title {
  0% {opacity:0.5;left:0vw;}
  100% {opacity:1;left:-11.3vw;}
} 

.project-year{
  opacity: 0;
  left:100vw;
  position: relative;
  font-size: 18px;
  font-weight: 300;
}

.project-year.year-active{
  -webkit-animation: 0.7s ease-in-out 0s normal forwards 1 year-title;
  animation: 0.8s ease-in-out 0s normal forwards 1 year-title;
}

@keyframes year-title {
  0% {left: 100vw;opacity: 0}
  100% {left:0;opacity: 1}
}

@media only screen and (max-width: 1000px) {
   @keyframes year-title {
    0% {left: 100vw;opacity: 0}
    100% {left:-11.3vw;opacity: 1}
  }
}

.project-year-vertical{
  opacity: 0;
  border-left: 1.5px solid rgb(255,255,255,1);
  height: 100px;
  margin: 0;
  margin-left: 16px;
}

.project-year-vertical.year-vertical-active{
   -webkit-animation: 1s ease-in-out 0s normal forwards 1 year-vertical-bar;
  animation: 1s ease-in-out 0s normal forwards 1 year-vertical-bar;
}

@keyframes year-vertical-bar {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width: 1000px) {
   @keyframes year-vertical-bar {
    0% {opacity: 0;}
    100% {opacity: 1;margin-left: -11.3vw}
  }
}

.project-tool{
  opacity:0;
  width:250px;
  position: relative;
  padding-left: 0px;
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 0.2rem;
  top:-110px;
}

.project-tool.tool-active{
   -webkit-animation: 0.9s ease-in-out 0s normal forwards 1 tool-title;
  animation: 0.9s ease-in-out 0s normal forwards 1 tool-title;
}

@keyframes tool-title {
  0% {left: 100vw;padding-left:0;opacity: 0}
  100% {left:0;padding-left:35px;opacity: 1}
}

@media only screen and (max-width: 1000px) {
  @keyframes tool-title {
    0% {left: 100px;padding-left:0;opacity: 0}
    100% {left:-12vw;padding-left:35px;opacity: 1}
  }
}

.project-descriptionTitle{
  opacity: 0;
  width: 28vw;
  position: relative;
  padding-left: 35px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  top:-110px;
}

.project-descriptionTitle.descriptionTitle-active{
  -webkit-animation: 1s ease-in-out 0s normal forwards 1 descriptionTitle;
  animation: 1s ease-in-out 0s normal forwards 1descriptionTitle;
  animation-delay: 3s;
}

@keyframes descriptionTitle {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media only screen and (max-width: 1000px) {
  @keyframes descriptionTitle {
    0% {opacity: 0;left:100px}
    100% {opacity: 1; left:-12vw}
  }
}

.project-description{
  opacity: 0;
  text-align: justify;
  width: 28vw;
  text-indent: 1.6em;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  top:-100px;
  left:17px;
}

.project-description.description-active{
  -webkit-animation: 0.5s ease-in-out 0s normal forwards 1 project-description;
  animation: 0.5s ease-in-out 0s normal forwards project-description;
  animation-delay: 1.0s;
}

@keyframes project-description {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media only screen and (max-width: 1000px) {
     @keyframes project-description {
    0% {left: 100vw;opacity: 0}
    100% {left:-11.3vw;opacity: 1}
  }
}

@media only screen and (max-width: 500px) {

  .project-description{
    visibility: hidden;
  }

  .project-year{
    font-size:12px;
  }

  .project-tool{
    font-size: 12px;
    width:200px;
  }

  #project-separator{
    height:200px;
  }

  #projectViewer{
    height:150px;
  }
}

#images-container:hover ~ #descriptionContainer > .project-title.title-active{
  -webkit-animation: 0.4s ease-out 0s normal forwards 1 project-title-hide;
  animation: 0.4s ease-out 0s normal forwards 1 project-title-hide;
}

@keyframes project-title-hide {
  0% {opacity: 1; left:-11.3vw;}
  100% {opacity:0.5;left:0vw;}
} 

@media only screen and (max-width: 1000px) {
    #projectViewer {
    flex-direction: column;
  }

  .project-description {
     width: 48vw;
  }
}
