:root {
  --transitionTime:0.7s;
}

#exhibitionContainer{
    background-color: #426585;
    /* background-color: #22aacb; */
    /* background-color: #3a5875; */
    width:100vw;
    height:100vh;
    margin-bottom: 100px;
    top:0;
    position: absolute;
    /* overflow: hidden; */
    z-index: -1;
    display: flex;
    flex-direction: row;
    color:white;
    align-items: center;
    justify-content:space-between;
}

#exhibitionMenuContainer{
  position:relative;
  right: 0%;
  text-align: left;
  top:0px;
  width:100%;
  height:444px;
  font-size: 25px;
  font-weight: lighter;
  display: flex;
  align-items: left;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content:center;
}