  .project-base{
    width:100vw;
    height:100vh;
    position: absolute;
    z-index: -1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .project-base.modelViewActivated{
     overflow:hidden;
     z-index: 5;
  }

  @media only screen and (max-width: 1300px) {
   .project-base{
     position: fixed;
 }
}

