#titleContainer {
    width:100%;
    height:100%;
    z-index: -2;
    top:0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title{
    opacity: 0;
    margin:0;
    color:black;
    text-transform: uppercase;
    visibility: none;
    font-size: 3vw;
    font-weight: 700;
    width:700px;
    margin-left: 100px;
    text-align: left;
    line-height: 100%;
    /* margin-bottom: -2.0vw; */
    /* letter-spacing: 3px; */
   -webkit-animation: 1s ease-in-out 0s normal forwards 1 titleFadein;
    animation: 1s ease-in-out 0s normal forwards 1 titleFadein;
}

/* @keyframes titleFadein{
    0% { opacity:0.2;margin-top:100vw}
    100% { opacity:1; margin-top:0px}
} */

@keyframes titleFadein{
    0% { opacity:0.2;margin-left:100vw}
    100% { opacity:1; margin-left:100px}
}

.description{
  text-transform: uppercase;
  margin: 0;
  color:white;
  font-weight:900;
  width:0px;
  font-size: 5vw;
  margin-left: 100px;
  text-align: left;
  letter-spacing: 3px;
  -webkit-animation: 2.6s ease-in-out 1 normal forwards 1 descriptionFadein;
  animation: 2.6s ease-in-out forwards 1 descriptionFadein;
}

@media only screen and (min-width: 1899px) {
    /* @keyframes descriptionFadein{
    0% { opacity:0 ; width:0px;margin-bottom: 5em;}
    66% { opacity:0; }
    100% { opacity:1;width:1000px;margin-bottom: -0.62em;}
    } */

    @keyframes descriptionFadein{
    0% { opacity:0 ; width:0px;line-height: 1000%;}
    66% { opacity:0; }
    100% { opacity:1;width:1000px;line-height: 73%}
    }

   .description{
      font-size: 5.0vw;
   }

   .title{
      font-size: 4.0vw;
   }
}

@media only screen and (max-width: 1900px) {
    /* @keyframes descriptionFadein{
    0% { opacity:0 ;width:0px;margin-bottom: 10em;}
    66% { opacity:0; }
    100% { opacity:1;width:1000px;margin-bottom: -0.62em;}
   } */

    @keyframes descriptionFadein{
    0% { opacity:0 ; width:0px;line-height: 1000%;}
    66% { opacity:0; }
    100% { opacity:1;width:1000px;line-height: 73%}
    }
}


